.onlineUserDiv {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  z-index: 1;
  position: absolute;
  background: white;
  cursor: pointer;
  border-radius: 5%;
  padding: 1%;
  gap: 6px;
}
.onlineUserDiv p {
  font-size: 15px;
  color: black;
  margin-bottom: 0;
}
.onlineUserDiv p:hover {
  color: red;
}
